 <div class="contents row">
    <div class="success">
    <div class="center_text">
      <h3>
        削除が完了しました。
      </h3>
      <span class="btn" href="/project/index" >
      <%= link_to "投稿一覧へ戻る", '/', method: :get %></span>
    </div>
  </div>
  </div>