 <div class="contents row">
    <div class="success">
    <div>
      <h3 style="text-align:center; margin-top:80px">
        確認のメールを送信しました。
      </h3></div>
      <span class="btn" href="/project" style="margin-left:43%; margin-top:40px; margin-bottom:100px;"><a href="/users/sign_in" class="class_done">ログインページへ戻る</a></span>
  </div>
  </div>