<div class="container-fluid" style="background-color:white;">
 <div class="row">
   <h1 id="how_to">How to Use</h1>
   <div class="col-lg-8 col-lg-offset-2 col-xs-12" id="explain_1">
   <h4 class="small_show" style="margin-top:50px;">1.推奨環境について</h4>
   <p id="explain">推奨ブラウザは、Google Chromeとなっております。(バージョン50以降)<br>
   推奨ブラウザ以外のブラウザを利用される場合、Drillnoteの一部機能がご利用できない可能性がございます。<br>
   <br>
   <div class="col-lg-12 col-xs-12" style="height:350px;background-image: url(/assets/chrome.png);background-position:center;background-repeat:no-repeat;-moz-background-size:cover;"></div>
   ＊Google Chromeのインストールは<a href="https://www.google.co.jp/chrome/browser/desktop/" target="_blank">こちら</a>から<br>
   <br>
   <br><br><br><br>
   また、Javascriptを有効にしていただく必要があります。もし、一部機能が動かないなどの不都合が発生する場合はJavascriptが有効になっていない可能性があります。下記よりJavascriptを有効にしてください。<br><br><br><div id="js"></div>
   【Google ChromeでJavascriptを有効にする手順】<br>
   1.ツールバーの[Chrome] ⇒ [設定]をクリックします。<br>
   <div class="col-lg-12 col-xs-12" style="height:600px;background-image: url(/assets/setting1.jpg);background-position:center;background-repeat:no-repeat;-moz-background-size:cover;"></div>
   2.設定タブの、[詳細設定を表示]をクリックします。<br>
       <div class="col-lg-12 col-xs-12" style="height:600px;background-image: url(/assets/setting2.jpg);background-position:center;background-repeat:no-repeat;-moz-background-size:cover;"></div>
   3.[プライバシー]セクションで[コンテンツの設定]をクリックします。<br>
       <div class="col-lg-12 col-xs-12" style="height:150px;background-image: url(/assets/setting3.jpg);background-position:center;background-repeat:no-repeat;-moz-background-size:cover;"></div>
   4.[javascript]内の[全てのサイトでjavascriptの実行を許可する(推奨)]を選択し、[OK]をクリックします<br>
       <div class="col-lg-12 col-xs-12" style="height:400px;background-image: url(/assets/setting4.jpg);background-position:center;background-repeat:no-repeat;-moz-background-size:cover;"></div>
   <br>
   <br>
   <br>
   こちらのページの説明をご覧になりご不明な点がある場合や予期せぬエラーが発生した場合などは、<br>
   ご気軽にDrillnote事務局(<a href="mailto:drillnote@gmail.com">drillnote@gmail.com</a>)までご連絡をお願いいたします。<br>
   <br>
   <br>
   <br>
   <br><br>
   <br>
   <br>
   <br>
   </p>
   <h4 id="drill" class="small_show">2.マイページ</h4>
   <br>
   マイページではドリルの作成・編集を行うことができます。
   マイページへの移動は上部メニューにある[My Page]ボタンか、[Menu]ボタンの[マイページへ]より移動することができます。<br>
   <div class="col-lg-12 col-xs-12" style="height:400px;background-image: url(/assets/drill1.PNG);background-position:center;background-repeat:no-repeat;-moz-background-size:contain;background-size:contain;"></div>
   <br>
   <br>
   マイページからは、新しいドリルの作成や既存のドリルの編集・削除、PDFファイルの出力などを行ったりすることができます。<br>
   シートそれぞれの編集については、<a href="#sheet">5.シートの作成・編集</a>で説明させていただきます。
   <br>
   <br>
   <br><br>
   <br>
   <br>
   <br>
   <br>
   <h4 id="drill_edit" class="small_show">3.ドリルの編集</h4>
   <div class="col-lg-12 col-xs-12" style="height:400px;background-image: url(/assets/drill3.PNG);background-position:center;background-repeat:no-repeat;-moz-background-size:contain;background-size:contain;"></div>
   <br><br><br><br><br>
   [編集]ボタン...<a href="#sheet">シートの作成・編集</a>画面へ移動します。<br><br>
   [削除]ボタン...選択したドリルの削除を行います。削除したデータは元に戻すことができませんのでご注意ください。<br><br>
   [設定]ボタン...選択したドリルの設定を行います。ドリル名の編集やメンバー構成の入力・編集を行います。<br><br>
   [印刷]ボタン...選択したドリルをPDFファイルに出力します。<br><br><br><br><br><br>
   <h4 id="drill_edit" class="small_show">4.ドリルの設定</h4>
   <div class="col-lg-12 col-xs-12" style="height:400px;background-image: url(/assets/drill4.PNG);background-position:center;background-repeat:no-repeat;-moz-background-size:contain;background-size:contain;"></div>
   <br><br>
   ドリルの設定では、ドリルの名前の編集やメンバー構成の入力・編集を行います。<br>
   メンバー構成については必ずしも入力する必要はありませんが、ここでメンバー構成を入力しておくことで、シート編集時の作業をより簡潔に行うことができます。<br><br>
   ＊プレイヤー削除がうまく行かないときは、大文字小文字の入力間違いやスペースの有無を確認してください。<br><br><br><br><br><br>
   <br>
   <br>
   <h4 id="sheet" class="small_show">5.シート編集画面</h4>
   <br>
   <div class="col-lg-12 col-xs-12" style="height:400px;background-image: url(/assets/sheet2.PNG);background-position:center;background-repeat:no-repeat;-moz-background-size:contain;background-size:contain;"></div>
   <br><br>
   シート編集画面では、シートの作成や編集・削除、ドリルの再生を行うことができます。<br>
   ドリル編集画面の編集ボタンから、シート一覧画面に移動します。この画面ではドリルの編集はできませんが、<br>
   これまでに書いたドリルの確認や、ドリルの再生を行うことができます。
   <br>
   <br>
   <br>
   <div class="col-lg-12 col-xs-12" style="height:400px;background-image: url(/assets/sheet3.PNG);background-position:center;background-repeat:no-repeat;-moz-background-size:contain;background-size:contain;"></div>
   <br><br>
   シート一覧画面で、任意のプレイヤーにカーソルを合わせたりクリックしたりすると、プレイヤー名の表示が消えてしまいます。<br>
   この場合、任意のシート番号（上記画像の赤枠内）をクリックすることでプレイヤー名の表示が出現します。<br><br><br><br><br><br>
   <br>
   <br>
   <h4 id="drill_saisei" class="small_show">6.ドリルの再生</h4>
   <div class="col-lg-12 col-xs-12" style="height:400px;background-image: url(/assets/sheet7.PNG);background-position:center;background-repeat:no-repeat;-moz-background-size:contain;background-size:contain;"></div>
   <br><br>
   ドリルの再生画面では、書いたドリルの再生を行うことができます。<br><br><br>
   次のシートの点まで直線で移動するようにプログラムされているため、フォロー・ザ・リーダーなどの動きの経過が<br>
   直線的でないものについては再生機能で再現することは出来ません。あらかじめご了承ください。<br><br>
   また、音源と合わせて動きを再生する機能、拍の長さを考慮して動きのスピードを変化する機能についても現段階では実装されていません。<br><br><br><br>
   ドリルの再生を開始するには、ドリル再生タブの[再生開始]ボタン（上記画像赤枠内）をクリックしてください。<br><br>
   再生終了後は、必ずドリル再生タブの[閉じる]ボタン（同上）をクリックしてください。<br>
   シート一覧のプレイヤー名が上手く表示されないなどのエラーが発生する恐れがあります。<br><br><br><br>
   ＊上手く再生されない場合...以下のことをご確認ください。<br><br>
   ・プレイヤー名は同じになっていますか？半角・全角の違いやスペースの有無などがあれば適切に再生できません。<br>
   ・シートの途中でメンバーが増えたり減ったりしていませんか？この場合も適切な再生は出来ません。<br>
   ・Javascriptは有効になっていますか？詳しくは、<a href="#js">こちら</a><br><br><br><br><br><br>
   <br>
   <br>
   <h4 id="sheet_edit" class="small_show">7.シート新規作成・編集</h4>
   <br>
   <div class="col-lg-12 col-xs-12" style="height:400px;background-image: url(/assets/sheet4.PNG);background-position:center;background-repeat:no-repeat;-moz-background-size:contain;background-size:contain;"></div>
   <br><br>
   シート新規作成・編集画面では、シートの作成や編集を行うことができます。<br>
   ドリル編集画面での編集方法は、あらかじめシート上にあるプレイヤーをドラッグして移動させ[シート確定]で場所を確定させるだけです。<br>
   <br>
   <br>
   また、もし任意のプレイヤーを削除したい場合は削除したいプレイヤーをダブルクリックすることで削除できます。<br>
   ただ、この場合[ドリルの設定]のメンバー構成からは削除されませんのでご注意ください。<br><br><br>   ＊こちらでも、シート一覧同様にドラッグ後プレイヤー名が消えてしまうことがありますが、[プレイヤー名を表示]ボタンを押すことで再度プレイヤー名を表示することができます。
   <br>
   <br>
   <br>
   <div class="col-lg-12 col-xs-12" style="height:400px;background-image: url(/assets/sheet5.PNG);background-position:center;background-repeat:no-repeat;-moz-background-size:contain;background-size:contain;"></div>
   <br><br>
   「MM8 5~8 to the front」などの、ドリルの指示については編集画面右側にあるメニューの[ドリル]タブにある入力欄に記入してください。<br><br>
   ここに記入した内容についても、[シート確定]ボタンを押したときに保存されるようになっています。<br><br><br><br>
   <div class="col-lg-12 col-xs-12" style="height:400px;background-image: url(/assets/sheet6.PNG);background-position:center;background-repeat:no-repeat;-moz-background-size:contain;background-size:contain;"></div>
   <br><br>
   もし編集の途中で新しくメンバーを加えたくなった時は、同じく右側のメニューの[編集]タブにある入力欄に新しく加えたいプレイヤー名を入力し、[プレイヤー名を入力]ボタンを押すことでシート上に新しくプレイヤーが追加されます。<br><br>
   <br><br>
   <br>
   <br>
   <br>
   <br>
   <h4 id="last_one" class="small_show">最後に</h4>
   <br><br>
   Drillnoteの利用方法についての説明は以上になります。<br>
   こちらのページの説明をご覧になりご不明な点がある場合や予期せぬエラーが発生した場合などは、<br>
   ご気軽にDrillnote事務局(<a href="mailto:drillnote@gmail.com">drillnote@gmail.com</a>)までご連絡をお願いいたします。<br>
   <br><br><br>
   <% if user_signed_in? %>
   <p  style="text-align:center;"><span class="center_text" style="text-align:center;">
 <%= link_to "さっそく新しいドリルを作ってみましょう!" ,'/project/new',  method: :get, :style => "font-size:25px;" %></span>
  </p><br><br><br><br>
    <% end %>
   </div>
 </div>
</div>
