<div class="container-fluid">
 <div class="row">
   <h1 id="how_to">How to Use</h1>
   <div class="col-lg-8 col-lg-offset-2 col-xs-12" id="explain_1">
   <p id="explain">このページでは、Drillnoteでのドリルの書き方や基本的な操作方法についてのご説明をさせていただきます。<br><br>
   マイページからドリルの作成・編集を行う場合についての操作説明は＊こちら＊<br>
   個別のドリルでのシート作成・編集、ドリル再生機能についての操作説明は＊こちら＊<br>
   <br>
   <br>
   <br></p>
   <h4 id="small_show">推奨環境について</h4>
   <p id="explain">推奨ブラウザは、Google Chromeとなっております。(バージョン50)<br>
   推奨ブラウザ以外のブラウザを利用される場合、Drillnoteの一部機能がご利用できない可能性がございます。<br>
   <br>
   ＊Google Chromeのインストールはこちらから<br>
   <br>
   <br>
   また、Javascriptを有効にしていただく必要があります。<br>
   【Google ChromeでJavascriptを有効にする手順】<br>
   <br>
   1.ツールバーの[Chrome] ⇒ [設定]をクリックします。<br>
   2.設定タブの、[詳細設定を表示]をクリックします。<br>
   3.[プライバシー]セクションで[コンテンツの設定]をクリックします。<br>
   4.[javascript]内の[全てのサイトでjavascriptの実行を許可する(推奨)]を選択し、[OK]をクリックします<br>
   <br>
   <br>
   <br>
   こちらのページの説明をご覧になりご不明な点がある場合や予期せぬエラーが発生した場合などは、<br>
   ご気軽にDrillnote事務局(drillnote@gmail.com)までご連絡をお願いいたします。<br>
   <br>
   <br>
   リンク1 リンク2
   </p>
   </div>
 </div>
</div>





1.ドリルの作成・編集

2.シートの作成・編集