<div class="container">
 <div class ="center_text">
    <%= form_tag('/project', method: :post) do %>
    <h3>
      プロジェクトを作成する
    </h3>
    <input placeholder="プロジェクト名を入力" type="text" name="name">
    <textarea cols="30" name="member" placeholder="メンバー構成を入力" rows="10"></textarea>
    <input type="submit" value="SENT">
   <% end %>
 </div>
</div>