
<div class="the_cavaliers">
  <div class="first_content container">
  <div class="row">
    <h1 class="col-xs-12 col-lg-4 col-lg-offset-4" style="color:white; text-align:center; padding-top:130px; font-size:80px;">Drillnote</h1>
    <div class="col-xs-12 col-lg-4 col-lg-offset-4" style="color:white; text-align:center; padding-top:20px">いつでもどこでもドリルを作成。思いついたアイデアをすぐにドリルにしましょう。
    </div>
    <% if user_signed_in? then %>
    <div class="button_signin_top col-xs-8 col-xs-offset-2 col-lg-4 col-lg-offset-4"><a href="/project"><p style="text-align:center; color:white; font-size:30px; margin-top:auto; margin-bottom:auto;">マイページへ</p></a></div>
    <% end %>
    <% unless user_signed_in? %>
         <div class="button_signin_top col-xs-12 col-lg-4 col-lg-offset-4"><a href="/users/sign_up"><p style="text-align:center; color:white; font-size:40px; margin-top:auto; margin-bottom:auto;">無料で新規登録</p></a></div>
    <% end %>
  </div></div>

   <div class="second_content container">
   <div class="row">
    <h2 style="color:black; text-align:center; padding-top:100px; font-size:40px;">Our Mission</h2>
     <div class="col-xs-12 col-lg-6 col-lg-offset-3" style="margin-bottom:60px"><div style="color:#222222; padding-top:30px; font-size:13px;">
     Drillnoteはマルチデバイス対応の無料ドリル作成サービスです。<br>
     パソコンはもちろん、タブレット、スマートフォンからいつでもどこでもアイデアを思いついた時すぐ残すことができます。<br><br>

     また、これまでの紙とペンで書いては消して…という煩雑な作業からも解放されます。<br>
     Drillnoteではシンプルな操作でドリルの作成・編集作業を行うことができ、<br>
     紙に書いていた頃とは比較にならないほどスムーズにドリルを書くことができます。<br><br>

     さらにドリルの再生機能も備えており、ドリルを実際に動かしてみることで動作のイメージを具体的に持つことができ、
     より精度の高いドリルを作成することができます。
   </p>
   </div>
 </div></div>

<div class="container third_content">
<div class="row">
     <div class="right_content1 col-xs-12 col-lg-4 col-lg-offset-1"></div>
     <div class="left_content1 col-xs-12 col-lg-4 col-lg-offset-1">
     <h2 style="color:#333333; padding-top:50px;">感覚的な操作</h2>
     <p style="color:#333333;padding-top:40px;">
       Drillnoteではシンプルな操作でドリル作成ができます。<br><br>
       余分な機能を排除しシンプルな操作と機能だけにしており、紙にドリルを記入する時のような
       簡単さと気軽さで感覚的にドリルを書くことができます。
     </p>
     </div>
</div>
<div class="row" style="margin-top:30px">
     <div class="right_content2 col-xs-12 col-lg-4 col-lg-offset-1"></div>
     <div class="left_content2 col-xs-12 col-lg-4 col-lg-offset-1">
       <h2 style="color:#333333; padding-top:70px;">アイデアをすぐに形に</h2>
       <p style="color:#333333;padding-top:40px;">
       いつでもどこでも、ドリルを書くことができます。<br><br>
       アイデアを思いついたとき、すぐにDriinoteを立ち上げて形に残しましょう。<br>
       Drillnoteは、あなたのアイデアを形に残しドリルをより素晴らしいものにするサポートをします。
     </p>
     </div>
</div>
<div class="row" style="margin-top:30px">
     <div class="right_content3 col-xs-12 col-lg-4 col-lg-offset-1"></div>
     <div class="left_content3 col-xs-12 col-lg-4 col-lg-offset-1">
      <h2 style="color:#333333; padding-top:50px;">マルチデバイス対応</h2>
      <p style="color:#333333;padding-top:40px;">
       Drillnotenはすべてのデバイスに対応しています。<br><br>
       作成したドリルは、いつどこでもどのデバイスからもアクセスすることができます。<br>
       パソコンで書いたドリルを現地での状況に合わせてタブレットで修正したり、ドリルをスマートフォンで共有したり
       と様々な使い方ができます。
      </p>
      </div>
</div>
</div>


<div class="pic_write">
   <div class="fifth_content">
    <div class="row">
      <div class="button_signin col-xs-12 col-lg-6 col-lg-offset-3"><a href="/project/how"><p style="text-align:center; color:white; font-size:40px; margin-top:auto; margin-bottom:auto;">Drillnoteの利用方法</p></a></div>
      <div class="button_signin2 col-xs-12 col-lg-6 col-lg-offset-3"><a href="/project/questions"><p style="text-align:center; color:white; font-size:40px; margin-top:auto; margin-bottom:auto;">よくあるご質問集</p></a></div>
     </div>
    </div>
</div>


<div class="forth_content container">
   <div class="row">
     <h2 class="col-xs-12 col-lg-8 col-lg-offset-2" style="color:white; padding-top:180px;text-align:center;">さっそくドリルを書いてみましょう！</h2>
    <% if user_signed_in? then %>
     <div class="button_signin_bottom col-xs-12 col-lg-4 col-lg-offset-4"><a href="/project"><p style="text-align:center; color:white; font-size:40px; margin-top:auto; margin-bottom:auto;">マイページへ</p></a></div>
    <% end %>

    <% unless user_signed_in? %>
     <p class="col-xs-10 col-xs-offset-1 col-lg-6 col-lg-offset-3" style="color:white; padding-top:20px; text-align:center;">下記より会員登録をして、Drillnoteをお試し下さい</p>

     <div class="button_signin3 col-xs-12 col-lg-4 col-lg-offset-4"><a href="/users/sign_up"><p style="text-align:center; color:white; font-size:40px; margin-top:auto; margin-bottom:auto;">無料で会員登録</p></a></div>

    <% end %>
</div>
</div>