<div class="row form">
  <div>
    <h3 style="text-align:center; margin-top:80px">ドリルの設定が完了しました。</h3></div>
    <span class="btn" href="/project"   style="margin-left:46%; margin-top:40px; margin-bottom:40px">
      <%= link_to "一覧に戻る", '/project', method: :get, class: :class_done %></span>
  </div>
</div>