
@media screen and(max-width: 999px){
.back_content{
  z-index:auto;
  background-color: rgba(0, 0, 0, 0.6);
  width:100%;
  height:100vh;}}

@media screen and(max-width: 999px){
.center {
  margin: 0 auto;
  width: 100%;
  height: 700px;
  clear: both;}}

@media screen and(max-width: 999px){
#signin_box{
  margin-top: 30px;
  background-color: white;
  border: 1px solid #dedede;}}


@media screen and(max-width: 999px){
#email_box{
  margin-top:50px;
  width:100%;
  height:80px;
  font-size:38px;}}


@media screen and(max-width: 999px){
  #password_length{
  margin-top:80px;}}


@media screen and(max-width: 999px){
#password_box1{
  width:100%;
  height:80px;
  height:80px;
  font-size:38px;}}

@media screen and(max-width: 999px){
#password_box2{
  margin-top:50px;
  width:100%;
  height:80px;
  height:80px;
  font-size:38px;}}


@media screen and(max-width: 999px){
#submit_box{
  margin-bottom:30px;
  margin-top:50px;
  width:100%;
  height:80px;
  height:100px;}
}
@media screen and(max-width: 999px){
#submit_button{
  height:80px;
  width:100%;
 font-size:38px;}
}
@media screen and(max-width: 999px){
#check_box{
  height:30px;
  width:30px;
 font-size:38px;}
}

@media screen and(max-width: 999px){
#remember{
 font-size:38px;}
}


@media screen and(min-width: 1000px){
.back_content{
  z-index:auto;
  background-color: rgba(0, 0, 0, 0.6);
  width:100%;
  height:100%;}}

@media screen and(min-width: 1000px){
.center {
    margin: 0 auto;
    width: 1000px;
    height: 700px;
    clear: both;}}

@media screen and(min-width: 1000px){
#signin_box{
  margin-top: 30px;
  background-color: white;
  border: 1px solid #dedede;}}

@media screen and(min-width: 1000px){
#password_length{
  margin-top:30px;}}

@media screen and(min-width: 1000px){
#email_box{
  margin-top:20px;
  width:100%;
  height:40px;}}

@media screen and(min-width: 1000px){
#password_box1{
  width:100%;
  height:40px;}}

@media screen and(min-width: 1000px){
#password_box2{
  width:100%;
  height:40px;}}

@media screen and(min-width: 1000px){
#submit_box{
  width:100%;
  height:40px;
  margin-bottom:50px;}
}
@media screen and(min-width: 1000px){
#submit_button{
  height:40px;
  width:100%}
}

@media screen and(min-width: 1000px){
.title_drill{
  font-size:20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  margin-top: 10px
}}

@media screen and(max-width: 999px){
.title_drill{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  margin-top: 10px
}}

@media screen and(min-width: 1000px){
#index_button1{
  margin-top: 10px;
  font-size:20px;
}}

@media screen and(max-width: 999px){
#index_button1{
  margin-top: 10px;
  font-size:30px;
}}
@media screen and(max-width: 999px){
#index_button3{
  margin-top: 10px;
  font-size:30px;
}}

@media screen and(min-width: 1000px){
#index_button3{
  margin-top: 10px;
  font-size:20px;
}}
@media screen and(min-width: 1000px){
#name_drill{
  margin-top:30px;
  font-size:20px;
  height:40px;
}}

@media screen and(max-width: 999px){
#name_drill{
  height:60px;
  margin-top:30px;
  font-size:30px;
}}
@media screen and(min-width: 1000px){
#add_player{
  height:40px;
  margin-top:20px;
  font-size:20px;
}}
@media screen and(max-width: 999px){
#add_player{
  height:60px;
  margin-top:20px;
  font-size:30px;
}}
@media screen and(min-width: 1000px){
#delete_player{
  height:40px;
  margin-top:20px;
  font-size:20px;
}}
@media screen and(max-width: 999px){
#delete_player{
  height:60px;
  margin-top:20px;
  font-size:30px;
}}
@media screen and(min-width: 1000px){
#kakutei{
  height:40px;
  margin-top:50px;
  margin-bottom:50px;
  font-size:20px;
}}
@media screen and(max-width: 999px){
#kakutei{
  height:60px;
  margin-top:50px;
  margin-bottom:50px;
  font-size:30px;
}}
@media screen and(min-width: 1000px){
#player_name{
  height:40px;
  margin-top:20px;
  font-size:20px;
}}
@media screen and(max-width: 999px){
#player_name{
  height:60px;
  margin-top:20px;
  font-size:30px;
}}
@media screen and(min-width: 1000px){
#delete_name{
  height:40px;
  margin-top:20px;
  font-size:20px;
}}
@media screen and(max-width: 999px){
#delete_name{
  height:60px;
  margin-top:20px;
  font-size:30px;
}}
@media screen and(min-width: 1000px){
.name_list{
  font-size:18px;
}}
@media screen and(max-width: 999px){
.name_list{
  font-size:25px;
}}

@media screen and(min-width: 1000px){
  button#tooltip_hide{
  margin-right:10px;
  font-size:20px;
}}
@media screen and(max-width: 999px){
  button#tooltip_hide{
  margin-right:10px;
  font-size:28px;
}}

@media screen and(min-width: 1000px){
  #showplayer_button{
  margin-right:10px;
  font-size:20px;
}}
@media screen and(max-width: 999px){
  #showplayer_button{
  margin-right:10px;
  font-size:28px;
}}

@media screen and(min-width: 1000px){
  #showplayer_button_edit{
  margin-right:10px;
  font-size:20px;
}}
@media screen and(max-width: 999px){
  #showplayer_button_edit{
  margin-right:10px;
  font-size:28px;
}}
@media screen and(min-width: 1000px){
  #showplayer_button_new{
  margin-right:10px;
  font-size:20px;
}}
@media screen and(max-width: 999px){
  #showplayer_button_new{
  margin-right:10px;
  font-size:28px;
}}
@media screen and(min-width: 1000px){
  #change_button{
  margin-top:20px;
  margin-bottom:auto;
  height:100%;
}}
@media screen and(max-width: 999px){
  #change_button{
  font-size:28px;
  margin-top:15px;
  margin-bottom:auto;
  height:100%;
}}

@media screen and(min-width: 1000px){
  #show_button{
  font-size:15px;
  height:100%;
}}
@media screen and(max-width: 999px){
  #show_button{
  font-size:28px;
  height:100%;
}}
@media screen and(min-width: 1000px){
  #text_box{
  margin-top:20px;
  font-size:20px;
  height:100%;
}}
@media screen and(max-width: 999px){
  #text_box{
  font-size:28px;
  margin-top:20px;
  margin-bottom:auto;
  height:100%;
}}
@media screen and(min-width: 1000px){
  input#text_box{
  font-size:20px;
  width:100px;
}}
@media screen and(max-width: 999px){
  input#text_box{
  font-size:28px;
  width:100px;
}}
@media screen and(min-width: 1000px){
  #note_box{
  margin-top:15px;
}}
@media screen and(max-width: 999px){
  #note_box{
  margin-top:30px;
}}
@media screen and(max-width: 999px){
.center_print {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  clear: both;
  }}
@media screen and(min-width: 1000px){
.center_print {
  margin: 0 auto;
  width: 1000px;
  margin-left:auto;
  margin-right:auto;
  height: 100%;
  clear: both;}}

@media screen and(max-width: 999px){
.block {
  background-color: white;
}}
@media screen and(min-width: 1000px){
.block {
  background-color: white;
}}
@media screen and(min-width: 1000px){
h1#how_to{
  text-align:center;
  margin-top:80px;
  margin-bottom:80px;
  font-size:60px
}}
@media screen and(max-width: 999px){
h1#how_to{
  text-align:center;
  margin-top:100px;
  margin-bottom:100px;
  font-size:80px
}}
@media screen and(min-width: 1000px){
p#explain{
  font-size:16px;
}}
@media screen and(max-width: 999px){
p#explain{
  font-size:14px;
}}
@media screen and(min-width: 1000px){
h4.small_show{
  font-size:25px;
}}
@media screen and(min-width: 1000px){
  .rightbox_2{
    float:right;
    width: 350px;
    height: 600px;
    border:2px solid black;
    background-color: white;
}}
@media screen and(max-width: 999px){
.rightbox_2{
    clear:both;
    width: 600px;
    height: 200px;
    border:2px solid black;
    background-color: white;
}}
@media screen and(min-width: 1000px){
  div.the_cavaliers{
  background-image: url("cavies.jpg"); /* 全体の背景画像 */
  background-repeat: no-repeat;            /* 背景を繰り返さない */
  background-position: 50% 50%;            /* 背景画像の位置は画面中央 */
  -moz-background-size:cover;
  background-size:cover;
  background-attachment:fixed;             /* 背景画像を固定する */
  height:1000px;
  width:100%;
  clear: both;
  position: relative;
  height: auto !important;
}}
@media screen and(max-width: 999px){
  div.the_cavaliers{
  background-image: url("thecavaliers.png"); /* 全体の背景画像 */
  background-repeat: no-repeat;            /* 背景を繰り返さない */
  background-position: 50% 0;            /* 背景画像の位置は画面中央 */
  background-size:120%;
  background-attachment:fixed;             /* 背景画像を固定する */
  height:1000px;
  width:100%;
  clear: both;
  position: relative;
  height: auto !important;
}}
/*
@media screen and(min-width: 1000px){{
}}
@media screen and(max-width: 999px){{
}}
 */
