<p><%= @email %>さん</p>

<p>こんにちは。Drillnote 運営事務局です。</p>
<p>Drillnoteに登録していただき、誠にありがとうございます。</p>
<p>下記のリンクよりログインを行って、会員登録を完了させてください。</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>

