<p><%= @email %>さん</p>

<p>こんにちは。Drillnote 運営事務局です。</p>
<p>パスワード再設定がリクエストされました。下記のリンクからパスワード再設定をしていただきますよう、よろしくお願いいたします。</p>

<p><%= link_to 'パスワードの再設定', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのメールに覚えがない場合は、メールを削除していただきますようお願いします。</p>
<p>上記リンクにアクセスし、パスワードの再設定が完了するまでは以前のパスワードから変更されません。</p>