<p><%= @email %>さん</p>

<p>こんにちは。Drillnote 運営事務局です。</p>
<p>サインインの失敗が規定回数を超過しましたので、アカウントをロックしております。</p>

<p>下記のリンクよりアカウントのロックを解除してください。</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>